/* 
#dfe6e9 white
#2d3436 dark
#111b21 darkest
 */

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Quicksand_Light;
    src: url(../fonts/Quicksand/static/Quicksand-Light.ttf);
}

.col_2 ul::-webkit-scrollbar {
    width: 16px !important;
}

.col_2 ul::-webkit-scrollbar-track {
    background: var(--color);
}

.col_2 ul::-webkit-scrollbar-thumb {
    background-color: var(--background_color);
    border: 3px solid var(--color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

body {
    background: var(--background_color);
    padding: 10px;
}

:root {
    --background_color: #2d3436;
    --color: #dfe6e9;
    --padding: 30px;
    --default: #2d3436;
}

/* Changing Theme Icon */

#change_theme {
    width: min-content;
    /* margin: 0 0 0 auto; */
    font-size: 20px;
}

.close_nav {
    display: none;
    width: min-content;
    font-size: 20px;
}

.close_nav .fa-xmark {
    cursor: pointer;
    margin: 20px 25px;
    font-size: 30px;
    color: var(--color);
    transition: .2s ease-in-out;
}

.fa-sun {
    cursor: pointer;
    margin: 5px;
    color: var(--color);
    transition: .2s ease-in-out;
}

.fa-sun:hover,
.close_nav .fa-xmark:hover {
    transform: scale(1.15);
    transition: .2s ease-in-out;
}


/* Navbar */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin: 0 0 10px 0;
}

nav button {
    width: 100px;
    height: 40px;
    border: 1px solid var(--background_color);
    color: var(--background_color);
    background-color: var(--color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

nav button:hover {
    transition: .2s ease-in-out;
    color: var(--color);
    background-color: var(--background_color);
    border-color: var(--color);
}


/* Loader Animation */


@keyframes ldio-g1meo2m66o6 {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-g1meo2m66o6 div {
    box-sizing: border-box !important
}

.ldio-g1meo2m66o6>div {
    position: absolute;
    width: 69px;
    height: 69px;
    top: 15.5px;
    left: 15.5px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: var(--background_color) transparent var(--background_color) transparent;
    animation: ldio-g1meo2m66o6 0.7042253521126761s linear infinite;
}

.ldio-g1meo2m66o6>div:nth-child(2),
.ldio-g1meo2m66o6>div:nth-child(4) {
    width: 57px;
    height: 57px;
    top: 21.5px;
    left: 21.5px;
    animation: ldio-g1meo2m66o6 0.7042253521126761s linear infinite reverse;
}

.ldio-g1meo2m66o6>div:nth-child(2) {
    border-color: transparent var(--color) transparent var(--color)
}

.ldio-g1meo2m66o6>div:nth-child(3) {
    border-color: transparent
}

.ldio-g1meo2m66o6>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-g1meo2m66o6>div:nth-child(3) div:before,
.ldio-g1meo2m66o6>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: -5px;
    left: 27px;
    background: var(--background_color);
    border-radius: 50%;
    box-shadow: 0 64px 0 0 var(--background_color);
}

.ldio-g1meo2m66o6>div:nth-child(3) div:after {
    left: -5px;
    top: 27px;
    box-shadow: 64px 0 0 0 var(--background_color);
}

.ldio-g1meo2m66o6>div:nth-child(4) {
    border-color: transparent;
}

.ldio-g1meo2m66o6>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-g1meo2m66o6>div:nth-child(4) div:before,
.ldio-g1meo2m66o6>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    top: -5px;
    left: 21px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 52px 0 0 var(--color);
}

.ldio-g1meo2m66o6>div:nth-child(4) div:after {
    left: -5px;
    top: 21px;
    box-shadow: 52px 0 0 0 var(--color);
}

.loadingio-spinner-double-ring-qqp7dtkjxas {
    width: 91px;
    height: 91px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-g1meo2m66o6 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.91);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-g1meo2m66o6 div {
    box-sizing: content-box;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hamburger */

.ham_burger {
    flex: 1;
    margin: 5px;
    font-size: 20px;
    color: var(--color);
    cursor: pointer;
}

.ham_burger:nth-child(1) {
    display: block;
}

.ham_burger:nth-child(2) {
    display: none;
}

.ham_burger i {
    padding: 10px;
}

/* Main */

.main {
    display: flex;
    min-height: calc(100vh - 80px);
    justify-content: space-between;
}

.col_1 {
    width: 25%;
    height: inherit;
    color: #fff;
    background: #111b21;
    transition: .2s ease-in-out;
}

.col_1 ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.col_1 ul li {
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--background_color);
    /* margin: 0 20px; */
    transition: .2s ease-in-out;
}

.col_1 ul li:hover {
    opacity: .9;
    transition: .2s ease-in-out;
}

.col_1 ul li p,
.col_1 ul li .img_circle_box {
    pointer-events: none;
}

.heading:nth-child(1) {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.col_1 ul li .img_circle_box {
    width: 45px;
    height: 45px;
}

.img_circle_box {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.img_circle {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}

.col_2 {
    display: flex;
    flex-direction: column-reverse;
    background: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 75%;
    height: inherit;
    border: 2px solid #111b21;
    color: #fff;
    transition: .2s ease-in-out;
}

.user_data {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid var(--color);
}

/* Search */

.search {
    width: 90%;
    margin: 10px auto;
    background: red;
    display: flex;
    align-items: center;
    background: var(--background_color);
    padding: 0 10px;
    border-radius: 6px;
    cursor: pointer;
}

.search i {
    color: var(--color);
}

.search input {
    padding: 10px;
    width: 100%;
    color: var(--color);
    background: transparent;
    border: none;
}

.search input:focus {
    outline: none;
}

/* Chat Head */

.chat_head {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.chat_head .user_data {
    padding: 19px;
    background: #111b21;
}

/* Chat Input */

.chat_input {
    padding: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #111b21;
}

.chat_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat_input input {
    width: 97%;
    padding: 10px;
    border-radius: 6px;
    color: var(--color);
    background: var(--default);
    border: none;
}

.chat_input input:focus {
    outline: none;
}

.chat_input button {
    background: transparent;
    border: none;
}

.chat_input i {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

/* Chat Data */

.chat_data {
    width: 100%;
}

.chat_data ul {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10%;
    width: 100%;
    margin: 72px auto;
    list-style: none;
    overflow-y: scroll;
    height: 65vh;
}

.chat_data ul li {
    max-width: 70%;
    word-wrap: break-word;
    width: fit-content;
    padding: 10px 10px 6px 10px;
    font-size: 14px;
}

.user {
    margin: 5px 0 0 auto !important;
    background: #005c4b;
    border-radius: 5px;
}

.friend {
    background: #111b21;
    margin: 5px auto 0 0 !important;
    border-radius: 5px;
}

sub {
    padding: 0 0 0 12px;
    font-size: 10px;
    color: rgb(182, 182, 182);
}

/* Hidden */

.hidden {
    display: none !important;
}

/* Media Query */

/* @media screen and (max-width: 1200px) {} */

@media screen and (max-width: 768px) {
    .col_1 {
        position: fixed;
        width: 100% !important;
        z-index: 1000 !important;
        top: 0;
        left: -100%;
        height: 100vh;
    }

    .close_nav {
        display: block;
    }

    .col_2 {
        width: 100% !important;
    }

    .ham_burger:nth-child(2) {
        display: block;
    }

    .ham_burger:nth-child(1) {
        display: none;
    }

}